# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node Modules and Build Output
node_modules/
dist/
coverage/
.env
.env.*

# Terraform
**/.terraform/*
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfstate.d/
*.tfvars
*.tfplan
crash.log
# Terraform state lock file
*.tfstate.lock.info

# Ansible
*.vault.yml
*.facts
*.key
*.pem
*.retry
roles/
collections/
ansible.log

# Docker
*.pid
docker-compose.override.yml
*.sock
docker-compose.*.override.yml
build/

# Kubernetes
*.kubeconfig
*.secret.yml
*.config.yml
*.k8s.yaml
*.kubectl.yaml

# Test and Lint Outputs
.nyc_output/
.cache/
jest-test-results.json
coverage-final.json

# CI/CD Artifacts
artifacts/
.tmp/
logs/
*.ci-config.yml

# IDE and OS-specific Files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Desktop.ini
Thumbs.db
.Trashes/
.AppleDouble/